<md-toolbar color="primary">

    <span>Rock, Paper, Scissors!</span>
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Game Type: {{currentGame.gameType}}</button>

</md-toolbar>

<md-menu #appMenu="mdMenu">
    <button md-menu-item (click)="setGameType('RANDOM')"> Random </button>
    <button md-menu-item (click)="setGameType('ANTIHUMAN')"> Anti-Human </button>
</md-menu>



<md-card class="game-card" *ngFor="let data of (myData ? myData.slice(0,1): []); let i = index">

    <!--<img md-card-image src="{{ data.url }}">-->
    <img md-card-image src="assets/title-image.png">
    <md-card-content *ngIf="gamePlayed">
        <span>Your Move</span><span>Opponent's Move</span>
        <span>
            <img src="assets/Paper_human.png" *ngIf="currentGame.playerPlay=='PAPER'">
            <img src="assets/Rock_human.png" *ngIf="currentGame.playerPlay=='ROCK'">
            <img src="assets/Scissors_human.png" *ngIf="currentGame.playerPlay=='SCISSORS'">
        </span><span>
            <img src="assets/Paper_computer.png" *ngIf="currentGame.opponentPlay=='PAPER'">
            <img src="assets/Rock_computer.png" *ngIf="currentGame.opponentPlay=='ROCK'">
            <img src="assets/Scissors_computer.png" *ngIf="currentGame.opponentPlay=='SCISSORS'">
        </span>
    </md-card-content>
    <md-card-title *ngIf="gamePlayed">
        {{currentGame.gameState}}
    </md-card-title>
    <md-card-actions>
        <md-button-toggle-group [(ngModel)]="play" style="width: 100%;">
            <md-button-toggle value="ROCK">Rock</md-button-toggle>
            <md-button-toggle value="PAPER">Paper</md-button-toggle>
            <md-button-toggle value="SCISSORS">Scissors</md-button-toggle>
        </md-button-toggle-group>
        <span>
            <button md-button value="Enter" style="width: 100%; height: 100px"
                    (click)="getGameResult(play); [gamePlayed=true]">Enter</button>
        </span><span>
            <button md-button value="Reset" style="width: 100%; height: 100px"
                    (click)="reset(); [gamePlayed=false]">Reset</button>
        </span>

    </md-card-actions>

</md-card>

<md-card>
    <md-card-title>Your Score</md-card-title>
    <p>Wins: {{wins}}</p>
    <p>Losses: {{losses}}</p>
    <p>Draws: {{draws}}</p>
</md-card>

<table class="table-fill" align="" >
    <thead>
    <tr>
        <th>Game</th>
        <th>Player</th>
        <th>Opponent</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let game of games">
        <tr>
            <td>{{game.id}}</td>
            <td>{{game.playerPlay}}</td>
            <td>{{game.opponentPlay}}</td>
            <td>{{game.gameState}}</td>
        </tr>
    </ng-container>
    </tbody>
</table>



