<md-toolbar color="primary">

    <span>Rock, Paper, Scissors!</span>
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>

</md-toolbar>

<md-menu #appMenu="mdMenu">
    <button md-menu-item> Settings </button>
    <button md-menu-item> Help </button>
</md-menu>



<md-card class="example-card" *ngFor="let data of (myData ? myData.slice(0,1): []); let i = index">

    <img md-card-image src="{{ data.url }}">
    <md-card-header>
        <md-card-title>{{ data.title }}</md-card-title>
    </md-card-header>

    <md-card-actions>
        <md-button-toggle-group style="width: 100%;">
            <md-button-toggle value="Rock" name="choice" >Rock</md-button-toggle>
            <md-button-toggle value="Paper" name="choice">Paper</md-button-toggle>
            <md-button-toggle value="Scissors" name="choice">Scissors</md-button-toggle>
        </md-button-toggle-group>
        <button md-button value="Enter {{current}}" (click)="foo()" style="width: 100%; height: 100px">Enter</button>
    </md-card-actions>
</md-card>

<table width="100%" >
    <tr>
        <th>Player</th>
        <th>Opponent</th>
        <th>Result</th>
    </tr>
    <ng-container *ngFor="let game of games">
        <tr>
            <td>{{game.playerPlay}}</td>
            <td>{{game.opponentPlay}}</td>
            <td>{{game.gameState}}</td>
        </tr>
    </ng-container>
</table>



